{% extends 'galp-base.html.twig' %}

{% block body %}

    <div class="compense-menu"></div>

    <main class="container f-white">
        <div class="row">

            <div class="large-3 columns sidebar">
                <ul class="side-nav">
                    <li class="divider"></li>
                    {% for category in categories %}
                        <li><a href="/produtos/{{ category.link }}" title="{{ category.description }}">{{ category.name }}</a></li>
                    {% endfor %}
                    <li class="divider"></li>
                </ul>
            </div>

            <div class="large-9 columns">        
                {% for category in categories %}
                    <article class="category-box">
                        <div class="category-image large-12 columns no-padding">
                            <img src="{{ asset('galp/images/category/' ~ category.image) }}">
                        </div>

                        <a href="/produtos/{{ category.link }}" title="{{ category.description }}" class="f-bold f-white">{{ category.name }}</a>

                        <div class="category-description">
                            {{ category.description }}
                        </div>

                        <ul class="segments no-margin">
                        {% for segment in segments %}
                            {% if category.name == segment.category %}
                            <li>
                                <a href="produtos/{{ category.link }}/{{ segment.link }}" title="{{ segment.description }}">
                                    {{ segment.name }}
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </article>
                {% endfor %}
            </div>

        </div>
    </main>

{% endblock %}
