{% extends 'galp-base.html.twig' %}

{% block body %}

    <div class="compense-menu"></div>

    <main class="container f-white">
        <div class="row">

            <div class="row header-catalog">
                <div class="column padding-nav-catalog">
                    <a href="/produtos" class="prod-header-nav">Produtos</a>
                    <a href="" class="prod-header-nav">{{ category.name | capitalize }}</a>
                </div>
            </div>

            <div class="row">
                <div class="in-category-description large-7 columns">{{ category.description }}</div>
                <div class="in-category-image large-5 columns" style="background:url({{ asset('galp/images/category/' ~ category.image) }})">
                </div>
            </div>

            <div class="row in-category-block">
                <ul class="segments">
                {% for segment in segments %}
                    <li>
                        <a href="{{ category.link }}/{{ segment.link }}" title="{{ segment.description }}">   {{ segment.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div>
    </main>

{% endblock %}
