{% extends 'galp-base.html.twig' %}

{% block body %}

    <div>
        <div class="home-slider large-12">
            {% for slide in slides %}
                <div>
                    <a href="{{ slide.link }}" title="{{ slide.desc }}">
                        <img src="galp/images/slider/{{ slide.src }}" alt="{{ slide.desc }}" title="{{ slide.desc }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <main class="container f-white">
        {{ content | raw }}
    </main>

{% endblock %}
