{% extends 'galp-base.html.twig' %}

{% block body %}

    <div class="compense-menu"></div>

    <main class="container f-white">
        <style>
            .partners-block{
                background-color: white;
                max-height: 150px;
                overflow: hidden;
                min-height: 500px;
            }
            .partners-block a{
                margin: 30px 0;
                text-align: center;
            }
            #partner-01 img{
                width: 130px;
                margin-top: 20px;
            }
            #partner-03 img{
                width: 100px;
            }
            #partner-04 img{
                width: 180px;
                margin-top: 35px;
            }
        </style>
        <div class="row partners-block">
            <article>
                <a class="large-3 columns" href="#" id="partner-01">
                    <img src="/galp/images/partners/amorim.png" alt="Amorim">
                </a>
                <a class="large-3 columns" href="#" id="partner-02">
                    <img src="/galp/images/partners/durafloor.png" alt="Durafloor">
                </a>
                <a class="large-3 columns" href="#" id="partner-03">
                    <img src="/galp/images/partners/eucafloor.png" alt="Eucafloor">
                </a>
                <a class="large-3 columns" href="#" id="partner-04">
                    <img src="/galp/images/partners/tarkett.png" alt="Eucafloor">
                </a>
            </article>
        </div>
    </main>

{% endblock %}
