{% extends 'galp-base.html.twig' %}

{% block body %}

    <div class="compense-menu"></div>

    <main class="container f-white">
        <div class="row">
            <div class="large-2 columns product-column">
                <div class="product-column-child">
                    {% for image in product.image %}
                    <img src="{{ asset('galp/images/product/' ~ image) }}" alt="Imagem do Produto '{{ product.name }}'">
                    {% endfor %}
                </div>
            </div>
            <div class="large-10 columns">
                <div class="large-8 columns no-padding" id="product-image-preview-box">
                </div>
                <div class="large-4 columns detailed-description">
                    <h5>{{ product.name }}</h5>
                    <hr>
                    {{ product.description }}
                    <hr>
                    Marca : {{ product.label }}<br />
                    {% for detail in product.detail %}
                        {{ detail }}<br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}
