{% extends 'galp-base.html.twig' %}

{% block body %}

    <div class="compense-menu"></div>

    <main class="container f-white">
        <div class="row">

            <div class="large-3 columns sidebar">
                <ul class="side-nav">
                    <li class="divider"></li>
                    <li><a href="/produtos/{{ category.link }}" title="{{ category.description }}">{{ category.name }}</a></li>
                    <li class="divider"></li>
                    {% for segment in segments %}
                        {% if segment.link == this_segment %}
                        <li><a href="/produtos/{{ category.link }}/{{ segment.link }}" class="list-active" title="{{ segment.description }}">{{ segment.name }}</a></li>
                        {% else %}
                        <li><a href="/produtos/{{ category.link }}/{{ segment.link }}" title="{{ segment.description }}">{{ segment.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="divider"></li>
                </ul>
            </div>

            <div class="large-9 columns">
                <div class="row large-up-4 medium-up-2 small-up-1">
                    {% for product in products %}
                        <div class="column product">
                            <div class="thumbnail">
                                <img src="{{ asset('galp/images/product/' ~ product.image[0]) }}" />
                            </div>
                            <h6>{{ product.name }}</h6>
                            <a href="/produto/{{ product.link }}" class="button small expanded hollow">Ver +</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </main>

{% endblock %}
