{% extends 'base.html.twig' %}

{% block body %}
    <h1>Segment list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Name</th>
                <th>Link</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for segment in segments %}
            <tr>
                <td><a href="{{ path('admin_segment_show', { 'id': segment.id }) }}">{{ segment.id }}</a></td>
                <td>{{ segment.category }}</td>
                <td>{{ segment.name }}</td>
                <td>{{ segment.link }}</td>
                <td>{{ segment.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_segment_show', { 'id': segment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_segment_edit', { 'id': segment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_segment_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
