{% extends 'base.html.twig' %}

{% block body %}
    <h1>Segment</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ segment.id }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ segment.category }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ segment.name }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ segment.link }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ segment.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_segment_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_segment_edit', { 'id': segment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
