*{
    webkit-transition: all 0.3s ease,color 0.15s ease;
    transition: all 0.3s ease,color 0.15s ease;
}
ul li{
    list-style: none;
}
.p-vert-20{
    padding: 20px 0; 
}
.menu-wrap{
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    z-index: 5;
    border-bottom: 3px solid #1F1D1D;
    display: inline-block;
}
.border-right{
    border-right: 1px solid #4D4D4D;
}
.nopad-bot{
    padding-bottom: 0px;
}
.pad-60{
    padding: 60px 0;
}
.pad-bot-60{
    padding-bottom: 60px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.f-roboto{
    font-family: 'Roboto', sans-serif;
}
.f-bold{
    font-weight: 600;
}
.m-left-5 {
    margin-left: 5px;
}
.f-size-14{
    font-size: 14px;
}
.f-size-20{
    font-size: 20px;
}
.f-white{
    color: white;
}
a.f-white:hover{
    color: #9e9e9e;
}
.f-uppercase{
    text-transform: uppercase;
}

nav ul li a{
    border-bottom: 3px solid transparent;
}
nav ul li a:hover{
    border-bottom: 3px solid black;
}
body{
    background-color: #1F1D1D;
}

.full-width {
    max-width: 1400px;
}

.footer {
    background-color: #fff;
    padding: 2rem 4rem;
    text-align: left;
    color: #000;
}
.footer i {
    font-size: 100px;
}

.footer h4 {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
}
.footer p, .footer a {
    font-weight: 300;
    font-size: .8em;
}
.footer-links{
    list-style: none;
}
.footer-links li{
    margin-bottom: 10px;
}
.footer-links ul li{
    list-style: none;
    font-size: 14px;
    margin-left: 25px;
}
.home-slider{
    border-bottom: 5px solid white;
    opacity: 0.7;
}
.home-slider:hover{
    opacity: 1;
}
.home-slider img{
    max-height: 500px;
    width: 100%;
}

button.slick-prev.slick-arrow {
    position: absolute;
    top: 50px;
    z-index: 9;
    color: white;
}
button.slick-next.slick-arrow {
    position: absolute;
    top: 50px;
    z-index: 9;
    color: white;
    left: 97%;
}
.social-icons{
    width: 45px;
}
.presentation{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
}
.description{
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    font-weight: 300;
}
.icons-section{
    background-color: #fff;
    color: #000;
    padding: 30px 0;
}
.item-icon-section{
    cursor: pointer;
    opacity: 0.7;

}
.item-icon-section:hover{
    opacity: 1;
}

.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.no-border{
    border: 0px !important;
}

.pmenu{
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    -webkit-box-shadow: 0px 5px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px -1px rgba(0,0,0,0.75);
}
.pmenu li a:hover{
    background: black;
    color: white;
}
.header-logo{
    padding: 2px;
}
.compense-menu{
    height: 40px;
}
.header-catalog a{
    color: white;
    padding-right: 10px;
}
.header-catalog a:hover{
    opacity: 0.4;
}
.prod-header-nav:after{
    content: ">";
    padding-left: 10px;
}
.prod-header-nav:last-child:after{
    content: "";
    padding-left: 10px;
}
.padding-nav-catalog{
    padding-top: 12px;
    padding-bottom: 12px;
}
.button.hollow {
    border: 1px solid white;
    color: white;
}
.button.hollow:hover {
    background-color: white;
    color: #1F1D1D;
}
.thumbnail {
    border-radius: 0px;
    border: 0px;
}
.product{
    margin-top: 15px;
    margin-bottom: 10px;
}

.side-nav li{
    list-style: none;
}

.side-nav li a{
    color: #fff;
}

.side-nav li.divider {
    margin: 16px 0px;
}
.side-nav li.divider {
    border-top: 1px solid;
    height: 0;
    list-style: none;
    padding: 0;
    border-top-color: #e6e6e6;
}
.side-nav li:hover, .side-nav li:focus {
    background-color: #545454;
}
.segments{
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
.category-box{
    /*background: white;*/
}
.segments a{
    color: white;
    font-size: 14px !important;
    border-bottom: 1px solid #a8a8a8;
    padding: 0px 2px;
}
.segments a:hover{
    background: white;
    border-radius: 5%;
    color: #1f1d1d;
}
.category-box + .category-box{
    margin-top: 50px;
}
.category-box a{
    font-size: 22px;
    margin-left: 10px;
}
.category-description {
    border-left: 2px solid white;
    padding: 0px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
.category-image{
    max-height: 100px;
    overflow: hidden;
    display: block;
    vertical-align: middle;
    margin-bottom: 12px;
}
.category-image img{
    width: 100%;
}
.in-category-image{
    height: 100px;
    background-size: cover !important;
}
.in-category-description{
    padding: 15px;
    padding-left: 0px;
}
.in-category-block{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid rgb(39, 39, 39);
}
#product-image-preview-box, .detailed-description{
    margin-top: 15px;
}
.product-column img{
    margin-bottom: 15px;
}
#product-image-preview-box{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}
#product-image-preview-box{
    margin-bottom: 15px;
}
.product-column{
    overflow: hidden;
    max-height: 400px;
    margin-top: 15px;
}
.product-column-child{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 400px;
    /*Atual +30 px*/
    width: 166px;
}
.detailed-description{
    margin-bottom: 10px;
}
.product .thumbnail{
    width: 157px;
    height: 105px;
    overflow: hidden;
}
.contact-tab{
    margin-top: 15px;
}
#contact_send{
    padding: 10px;
    color: black;
    font-weight: 700;
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 15px;
    float: right;
}
#contact_send:hover{
    background-color: #1F1D1D;
    color: #fff;
}
.contact-form label{
    color: #fff;
}
