{% extends 'base.html.twig' %}

{% block body %}
    <h1>SiteConstructor list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Contentkey</th>
                <th>Contentvalue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for siteConstructor in siteConstructors %}
            <tr>
                <td><a href="{{ path('admin_siteconstructor_show', { 'id': siteConstructor.id }) }}">{{ siteConstructor.id }}</a></td>
                <td>{{ siteConstructor.contentKey }}</td>
                <td>{{ siteConstructor.contentValue }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_siteconstructor_show', { 'id': siteConstructor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_siteconstructor_edit', { 'id': siteConstructor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_siteconstructor_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
