{% extends 'base.html.twig' %}

{% block body %}
    <h1>SiteConstructor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ siteConstructor.id }}</td>
            </tr>
            <tr>
                <th>Contentkey</th>
                <td>{{ siteConstructor.contentKey }}</td>
            </tr>
            <tr>
                <th>Contentvalue</th>
                <td>{{ siteConstructor.contentValue }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_siteconstructor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_siteconstructor_edit', { 'id': siteConstructor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
