<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Administraçao</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('foundation/css/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ asset('foundation/css/app.css') }}">

        <style>
            *{
                webkit-transition: all 0.3s ease,color 0.15s ease;
                transition: all 0.3s ease,color 0.15s ease;
            }
            td{
                max-width: 750px !important;
                overflow: hidden;
            }
            textarea{
                height: 300px;
            }
            li{
                list-style: none;
            }

            li a{
                font-weight: bolder;
            }

            li a:hover{
                color: blue;
            }

            li a .button{
                margin-left: -1.25rem;
            }

            li .button{
                float: left;
                margin-right: 50px;
            }

            .clear-margin-li{
                margin-left: -1.25rem;
                margin-right: -1.25rem;
            }

            .secondary{
                background-color: #faffa3 !important;
                color: black !important;
            }

            .item-menu{
                text-align: center;
                background: #4c9ed9;
                color: #fff;
                padding: 5px;
            }

            .item-menu:hover{
                color: white;
                background: #006ab6;
                -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.15);
                -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.15);
                box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.15);
            }

        </style>
    </head>
    <body>
        <div class="row large-up-5 medium-up-2 small-up-1">
            <a href="/admin" class="columns item-menu">Inicio</a>
            <a href="/admin/product" class="columns item-menu">Produtos</a>
            <a href="/admin/segments" class="columns item-menu">Subcategorias</a>
            <a href="/admin/category" class="columns item-menu">Categorias</a>
            <a href="/admin/help" class="columns item-menu">Ajuda</a>
        </div>
        <div class="row">
            <div class="large-12 columns">
            {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}

        <script src="{{ asset('foundation/js/vendor/jquery.js') }}"></script>
        <script src="{{ asset('foundation/js/vendor/what-input.js') }}"></script>
        <script src="{{ asset('foundation/js/vendor/foundation.min.js') }}"></script>
        <script src="{{ asset('foundation/js/app.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.home-slider').slick({
                    infinite: true,
                    speed: 500,
                    fade: true,
                    cssEase: 'linear',
                    autoplay: true,
                    autoplaySpeed: 2000
                });
            });
        </script>
    </body>
</html>
