<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Loja de pisos e revestimentos em Guarulhos">
        <meta name="keywords" content="Pisos,Revestimentos,Laminado,Contrução">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ asset('Slick/slick-1.5.9/slick-1.5.9/slick/slick.css') }}"/>
        <link rel="stylesheet" href="{{ asset('foundation/css/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ asset('foundation/css/app.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('galp/css/index.css') }}" />
        <title>Galpão do Laminado - Decorações</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="f-roboto pmenu">
            <div class="row">
                <div class="large-4 columns">
                    <div class="logo">
                        <img src="{{ asset('galp/images/site/logo-mini.png') }}" alt="Galpão do Laminado - Loja de Decorações em Guarulhos" title="Galpão do Laminado" class="header-logo"> 
                        <span class="f-bold">Galpão do Lâminado</span><span class="f-size-14 m-left-5">Decorações</span>
                    </div>
                </div>
                <div class="large-8 columns">
                    <div class="centered">
                        <ul class="menu">
                            {% for index in menu %}
                                <li><a href="http://galp.dev/{{ index.link }}" title="{{ index.title }}">{{ index.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %}

        <footer class="footer f-uppercase">
            <div class="row full-width">
                <div class="small-12 medium-8 large-9 columns border-right">
                    <ul class="footer-links">
                        <li class="large-5 columns">
                            Telefones:
                            <ul>
                                {% for phone in phones %}
                                <li>
                                    <a class="phones" href="tel:{{phone}}">{{ phone }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="large-7 columns">
                            Emails:
                            <ul>
                                {% for email in emails %}
                                <li>
                                    <a class="emails" href="mailto:{{email}}">{{ email }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="large-12 columns">
                            Endereços:
                            <ul>
                                {% for adress in adresses %}
                                <li>
                                    <a href="{{ adress.mapLocate }}">{{ adress.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    <ul>
                </div>
                <div class="small-12 medium-4 large-3 columns">
                    <div class="footer-links">
                        {{ social | raw }}
                    <div>
                </div>
            </div>
        </footer>

        <script src="{{ asset('foundation/js/vendor/jquery.js') }}"></script>
        <script src="{{ asset('foundation/js/vendor/what-input.js') }}"></script>
        <script src="{{ asset('foundation/js/vendor/foundation.min.js') }}"></script>
        <script src="{{ asset('foundation/js/app.js') }}"></script>
        <script src="{{ asset('Slick/slick-1.5.9/slick-1.5.9/slick/slick.min.js') }}"></script>
        <script src="{{ asset('zoom-master/jquery.zoom.min.js') }}"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
                
                $('.home-slider').slick({
                    infinite: true,
                    speed: 500,
                    fade: true,
                    cssEase: 'linear',
                    autoplay: true,
                    autoplaySpeed: 2000,
                    arrows: false
                });

                var previewBox = $('#product-image-preview-box');
                var previewImages = $('.product-column img');

                previewBox.html($(previewImages[0]).clone());
                previewBox.zoom();

                $(previewImages).click(function(){
                    previewBox.html($(this).clone());
                    previewBox.zoom();
                });
            });
        </script>
    </body>
</html>