{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .error{
            background-color: rgb(254, 81, 81);
            border: 3px solid red;
            border-radius: 3px;
            color: white;
            padding: 20px;
            text-align: center;
            margin-top: 50px;
        }
        .error:hover{
            background: red;
            cursor: pointer;
        }
    </style>
    <a href="{{ link }}">
        <div class="error">
          {{ error }}
        </div>
    </a>
{% endblock %}
