{% extends 'base.html.twig' %}

{% block body %}

<ul>
	<li><a href="#slider">Slide</a></li>
	<li><a href="#conteudo">Conteudo</a></li>
	<li><a href="#menu">Menu</a></li>
	<li><a href="#category">Categoria</a></li>
	<li><a href="#subcategory">Subcategoria</a></li>
	<li><a href="#product">Produto</a></li>
</ul>

<p id="slider">
	<h2>Slide</h2>
	O slide possui 3 atributos que podem ser modificados. Segue a lista abaixo:
	<ul>
		<li>- Source: Basicamente a imagem que vai no slide. Voce pode adiciona-la fazendo o upload da imagem no painel administrativo. <strong>(Tamanho das imagens: 1350px de largura, por 500px de altura)</strong></li>
		<li>- Description: Descricao que vai aparecer quando o usuario colocar o mouse sobre o slide. <strong>(recomendavel informar, pois ajuda o site a ser mais indicado no google)</strong></li>
		<li>- Link: Link que o usuario sera redirecionado ao clicar no slide. <strong>(informar o endereço completo, exatamente como no exemplo a seguir. Ex: http://www.google.com.br)</strong></li>
	</ul>
</p>

<p id="conteudo">
	<h2>Conteudo</h2>
	O conteudo do site segue uma logica de chave e valor, por isso algumas partes do site irao solicitar via o conteudo via o nome da sua chave.<br /><br /> Exemplo:<br /><br />
	<table>
		<tr>
			<td>Chave</td>
			<td>Valor</td>
		</tr>
		<tr>
			<td>emails</td>
			<td>"galpao@decoracoes.com.br", "admin@galpao.com.br"</td>
		</tr>
		<tr>
			<td>telefones</td>
			<td>"1234-4321", "9876-1234"</td>
		</tr>
	</table>

	Em algumas partes do codigo, o site vai perguntar ao sistema qual o valor que possui a chave <strong>"telefones"</strong> e o sistema vai informar os valores <strong>"1234-4321", "9876-1234"</strong>. <br /><br />

	Segue a lista abaixo das regras de ediçao de algumas chaves:
	<ul>
		<li>- phones/emails: Caso queira adicionar/editar algum telefone ou email, adicione-o dentro de aspas e separado por virgulas. <br />Ex de adiçao de um segundo telefone (<strong>xxxx-xxxx</strong>): "1234-4321", "xxxx-xxxx"</li>
		<li>- addresses: Addresses é a chave equivalente aos endereços do site. Note que o conteudo mantem um formato equivalente a:
		<pre>
			[
				[
					['mapLocate'] => "LINK DO GOOGLE MAPS",
					['name'] => "O PROPRIO ENDEREÇO, EXEMPLO: Rua Fulano, n 123",
				]
			]
		</pre>
		Para adicionar um novo endereço, apenas copie o esquema desse bloco e edite as informaçoes. O resultado deve ser igual a:
		<pre>
			[
				[
					['mapLocate'] => "LINK DO GOOGLE MAPS",
					['name'] => "O PROPRIO ENDEREÇO, EXEMPLO: Rua Fulano, n 123",
				],
				[
					['mapLocate'] => "SEGUNDO LINK DO GOOGLE MAPS",
					['name'] => "SEGUNDO ENDEREÇO, EXEMPLO: Rua Fulano, n 123",
				]
			]
		</pre>
		<div class="important">Preste bastante atençao ao editar esses campos (Principalmente sobre a identaçao). Note que existem 2 conjuntos de chaves, o primeiro engloba todos os endereços, e o segundo conjunto de chaves separa cada endereço. Alem disso fique atento as virgulas</div><br />
		</li>
		<li>- homeContent: Conteudo que vai aparecer no inicio do site. O valor dessas chaves e feito em <strong>HTML</strong></li>
		<li>- social-media: Conteudo de midias sociais que vai aparecer no footer do site. O valor dessas chaves e feito em <strong>HTML</strong></li>
		<li>- aboutContent: Conteudo que vai aparecer na aba "Sobre" do site. O valor dessas chaves e feito em <strong>HTML</strong></li>
	</ul>
</p>

<p id="menu">
	<h2>Menu</h2>
	Configure os links do menu <strong>(cuidado com a operaçao, pois isso pode tirar um link do ar)</strong>. Segue a lista abaixo:
	<ul>
		<li>- Name: O nome que vai aparecer no menu do site. Exemplo: home/sobre/produtos</li>
		<li>- Link: Link da pagina ao qual o usuario sera direcionado ao clicar</li>
		<li>- Title: Titulo que sera exibido quando o usuario deixar o mouse sobre o link</li>
	</ul>
</p>

<p id="category">
	<h2>Categoria</h2>
	Configure as categorias primarias dos produtos que vai adicionar ao site. Exemplo: "Pisos", "Azulejos", "Cortinas".
	<ul>
		<li>- Name: Nome da categoria. Exemplo: Pisos, Azulejos</li>
		<li>- Description: Breve descriçao da categoria. Importante atençao na hora da escrita deste campo, pois ele possui uma forte influencia no posicionamento do site no google. </li>
		<li>- Link: Link da categoria, sera usado na hora de direcionar o usuario para 'meusite.com.br/produtos/papel-de-parede'. <strong>Exemplo: papel-de-parede, pisos, cortinas</strong></li>
		<li>- Category image: Faça o upload da imagem da categoria. <strong>Tamanho necessario: 1140px de largura X 200px de altura</strong></li>
	</ul>
</p>

<p id="subcategory">
	<h2>Subcategorias</h2>
	Subcategorias sao semelhantes as categorias, mas necessitam ficar sobre uma categoria.
	<ul>
		<li>- Category: Nome da categoria ao qual a subcategoria sera vinculada. Ex: Pisos</li>
		<li>- Name: Nome da subcategoria. Exemplo: pisos-foscos, pisos-espelhados</li>
		<li>- Description: Breve descriçao da subcategoria. Importante atençao na hora da escrita deste campo, pois ele possui uma forte influencia no posicionamento do site no google. </li>
		<li>- Link: Link da subcategoria, sera usado na hora de direcionar o usuario para 'meusite.com.br/produtos/pisos/pisos-foscos'. <strong>Ex: pisos-foscos</strong></li>
	</ul>
</p>

<p id="product">
	<h2>Produtos</h2>
	<ul>
		<li>- Subcategory: Nome da subcategoria ao qual o produto sera vinculado. Ex: Pisos Espelhados</li>
		<li>- Name: Nome do produto</li>
		<li>- Description: Descriçao do produto.</li>
		<li>- Detail: Detalhes tecnicos do produto. <strong>Informe-os no formato: "Altura: 15cm", "Largura: 15cm", "Cor: Preto/Branco"</strong></li>
		<li>- Link: Link do produto, sera usado na hora de direcionar o usuario para 'meusite.com.br/produto/piso-1-preto'. <strong>Ex: piso-1-preto</strong></li>
		<li>- Label: Informe a marca do produto.</li>
		<li>- Image: Informe as imagens do produto. <strong>Nota: A primeira imagem sera a exibida no catalogo de produtos, e o tamanho recomendado é com a largura  acima de 535px e altura menor que 400px</strong></li>
	</ul>
</p>
{% endblock %}

