{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .menuboard-box{
            padding: 20px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
            height: 160px;
            margin-bottom: 30px;
        }
        .menuboard-box:hover{
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);
        }
        .menuboard-box a{
            color: #006df0;
        }
        .menuboard-box a:hover{
            color: #898989;
        }
    </style>

    <h1>Painel administrativo</h1>

    <ul class="large-up-5 medium-up-2 small-up-1" class="main-board">
        <li class="columns" style="text-align:center">
            <div class="menuboard-box">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 424.455 424.454" style="enable-background:new 0 0 424.455 424.454;" xml:space="preserve"><g><g><g><path d="M43.381,392.727V27.274h198.906V82.69c0,5.6,4.535,10.133,10.131,10.133h53.792l0.006,107.58 c1.39,0.861,2.661,1.859,3.799,2.98c0.662-0.578,1.335-1.143,2.03-1.684c3.719-2.898,8.418-4.514,13.188-4.514 c2.831,0,5.642,0.572,8.249,1.654V77.743c0-2.168-0.861-4.248-2.396-5.787L261.523,2.395C259.991,0.862,257.911,0,255.739,0 H40.655C27.121,0,16.109,11.008,16.109,24.543v370.914C16.109,408.99,27.121,420,40.655,420H251.18 c-3.803-7.332-7.117-16.381-10.01-27.273H43.381z" fill="#006DF0"/><path d="M373.794,308.637c-0.883-2.268-3.072-3.881-5.653-3.881H253.572c-3.359,0-6.082,2.723-6.082,6.082v2.674 c0,9.336,6.286,95.51,28.863,109.498l0.826,0.519c0.968,0.604,2.085,0.926,3.228,0.926h60.898c1.14,0,2.26-0.318,3.228-0.926 l0.803-0.5c4.822-2.99,8.9-9.285,12.334-17.4c20.741-5.406,50.676-22.539,50.676-59.479 C408.343,310.913,389.3,308.768,373.794,308.637z M364.369,384.824c5.172-20.644,7.932-44.438,9.12-58.872 c13.736,0.055,17.541,1.105,17.541,20.191C391.03,367.955,376.566,379.211,364.369,384.824z" fill="#006DF0"/><path d="M293.203,217.375c-0.529-0.293-1.188-0.242-1.669,0.133c-10.918,8.463-14.94,26.351-8.613,38.267 c3.03,5.713,5.434,10.547,6.487,16.413c1.118,6.232,1.327,12.727,1.528,19.007l0.012,0.298c0.021,0.604,0.397,1.144,0.962,1.364 c0.183,0.071,0.369,0.104,0.559,0.104c0.396,0,0.788-0.153,1.079-0.444c9.7-9.771,11.695-27.603,4.546-40.595 c-3.063-5.562-4.521-10.06-4.874-15.023c-0.433-6.059,0.176-12.148,0.763-18.039 C294.039,218.254,293.735,217.672,293.203,217.375z" fill="#006DF0"/><path d="M323.514,217.375c-0.531-0.293-1.188-0.242-1.669,0.133c-10.918,8.463-14.942,26.351-8.614,38.267 c3.031,5.713,5.433,10.547,6.488,16.413c1.118,6.232,1.326,12.727,1.527,19.007l0.013,0.298c0.019,0.604,0.396,1.144,0.962,1.364 c0.181,0.071,0.369,0.104,0.557,0.104c0.397,0,0.788-0.153,1.079-0.444c9.701-9.771,11.697-27.603,4.547-40.595 c-3.062-5.562-4.521-10.06-4.874-15.023c-0.432-6.059,0.175-12.148,0.763-18.039C324.35,218.254,324.046,217.672,323.514,217.375 z" fill="#006DF0"/><path d="M207.089,67.361H73.596c-7.18,0-13,5.82-13,13c0,7.18,5.82,13,13,13h133.493c7.18,0,13-5.82,13-13 C220.089,73.181,214.269,67.361,207.089,67.361z" fill="#006DF0"/><path d="M73.596,153.361h91.493c7.18,0,13-5.82,13-13c0-7.18-5.82-13-13-13H73.596c-7.18,0-13,5.82-13,13 C60.596,147.541,66.416,153.361,73.596,153.361z" fill="#006DF0"/><path d="M220.089,200.361c0-7.18-5.82-13-13-13H73.596c-7.18,0-13,5.82-13,13c0,7.18,5.82,13,13,13h133.493 C214.269,213.361,220.089,207.54,220.089,200.361z" fill="#006DF0"/><path d="M73.596,247.361c-7.18,0-13,5.819-13,13c0,7.18,5.82,13,13,13h103.493c7.18,0,13-5.82,13-13c0-7.181-5.82-13-13-13 H73.596z" fill="#006DF0"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <div class="row">
                <a href="{{ content.content }}">Conteudo</a>
            </div>
            </div>
        </li>
        <li class="columns" style="text-align:center">
            <div class="menuboard-box">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 124 124" style="enable-background:new 0 0 124 124;" xml:space="preserve"><g><path d="M112,6H12C5.4,6,0,11.4,0,18s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,6,112,6z" fill="#006DF0"/><path d="M112,50H12C5.4,50,0,55.4,0,62c0,6.6,5.4,12,12,12h100c6.6,0,12-5.4,12-12C124,55.4,118.6,50,112,50z" fill="#006DF0"/><path d="M112,94H12c-6.6,0-12,5.4-12,12s5.4,12,12,12h100c6.6,0,12-5.4,12-12S118.6,94,112,94z" fill="#006DF0"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <div class="row">
                <a href="{{ content.menu }}">Menu</a>
            </div>
            </div>
        </li>
        <li class="columns" style="text-align:center">
            <div class="menuboard-box">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 410.234 410.233" style="enable-background:new 0 0 410.234 410.233;" xml:space="preserve"><g><g><g><path d="M352.271,253.729h-4.491V69.628h4.491c9.839,0,17.846-8.007,17.846-17.848c0-9.839-8.007-17.845-17.846-17.845H221.386 V16.27c0-8.985-7.282-16.27-16.27-16.27c-8.984,0-16.269,7.285-16.269,16.27v17.664H57.963c-9.839,0-17.846,8.006-17.846,17.846 c0,9.841,8.007,17.848,17.846,17.848h4.493v184.1h-4.493c-9.839,0-17.846,8.007-17.846,17.848 c0,9.842,8.007,17.849,17.846,17.849h122.582l-41.73,98.169c-3.516,8.271,0.341,17.823,8.609,21.34 c8.271,3.516,17.825-0.34,21.339-8.609l36.354-85.528l36.354,85.527c2.632,6.193,8.65,9.91,14.982,9.91 c2.12,0,4.278-0.417,6.357-1.301c8.269-3.517,12.125-13.068,8.607-21.34l-41.729-98.169h122.582 c9.839,0,17.846-8.007,17.846-17.849C370.117,261.734,362.11,253.729,352.271,253.729z M94.995,69.628H315.24v184.1H94.995 V69.628z" fill="#006DF0"/><path d="M141.043,139.062c-6.741,0-12.201,5.464-12.201,12.205v58.054c0,6.738,5.46,12.206,12.201,12.206 c6.738,0,12.207-5.468,12.207-12.206v-58.054C153.25,144.526,147.782,139.062,141.043,139.062z" fill="#006DF0"/><path d="M183.762,96.346c-6.742,0-12.209,5.462-12.209,12.203V209.32c0,6.739,5.467,12.206,12.209,12.206 c6.74,0,12.201-5.467,12.201-12.206V108.55C195.963,101.809,190.501,96.346,183.762,96.346z" fill="#006DF0"/><path d="M226.472,121.976c-6.74,0-12.201,5.463-12.201,12.202v75.144c0,6.74,5.461,12.206,12.201,12.206 c6.741,0,12.207-5.466,12.207-12.206v-75.144C238.679,127.439,233.214,121.976,226.472,121.976z" fill="#006DF0"/><path d="M269.192,109.161c-6.74,0-12.207,5.464-12.207,12.205v87.955c0,6.738,5.467,12.206,12.207,12.206 c6.738,0,12.199-5.468,12.199-12.206v-87.955C281.391,114.626,275.929,109.161,269.192,109.161z" fill="#006DF0"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <div class="row">
                <a href="{{ content.slider }}">Slider</a>
            </div>
            </div>
        </li>
        <li class="columns" style="text-align:center">
            <div class="menuboard-box">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 421.979 421.979" style="enable-background:new 0 0 421.979 421.979;" xml:space="preserve"><g><g><g><path d="M367.797,62.811c10.687,0,20.178,5.228,27.805,9.429c5.603,3.085,10.025,5.521,14.576,5.521 c1.972,0,11.801-0.694,11.801-14.419V29.312c0-15.715-12.784-28.5-28.5-28.5H250.489c-15.715,0-28.5,12.785-28.5,28.5v142.99 c0,15.715,12.785,28.5,28.5,28.5h142.989c15.716,0,28.5-12.785,28.5-28.5v-34.028c0-13.725-9.829-14.42-11.801-14.42 c-4.551,0-8.975,2.437-14.574,5.521c-7.627,4.201-17.118,9.429-27.807,9.429c-20.574,0-37.312-17.045-37.312-37.997 C330.482,79.856,347.223,62.811,367.797,62.811z" fill="#006DF0"/><path d="M171.49,0.812h-34.029c-13.725,0-14.419,9.831-14.419,11.802c0,4.549,2.437,8.974,5.521,14.575 c4.2,7.627,9.429,17.119,9.429,27.804c0,20.575-17.046,37.314-37.997,37.314c-20.952,0-37.997-16.739-37.997-37.314 c0-10.684,5.228-20.176,9.428-27.803c3.086-5.602,5.522-10.026,5.522-14.576c0-1.971-0.695-11.802-14.42-11.802H28.5 C12.785,0.812,0,13.598,0,29.312v142.99c0,15.715,12.785,28.5,28.5,28.5h142.99c15.715,0,28.5-12.785,28.5-28.5V29.312 C199.99,13.598,187.205,0.812,171.49,0.812z" fill="#006DF0"/><path d="M171.49,221.176H28.5c-15.715,0-28.5,12.785-28.5,28.5v34.027c0,13.727,9.83,14.421,11.801,14.421 c4.55,0,8.974-2.438,14.575-5.521c7.627-4.201,17.119-9.43,27.805-9.43c20.575,0,37.314,17.045,37.314,37.998 c0,20.949-16.739,37.996-37.314,37.996c-10.684,0-20.176-5.229-27.803-9.43c-5.603-3.085-10.027-5.521-14.577-5.521 C9.83,344.219,0,344.912,0,358.638v34.028c0,15.716,12.785,28.5,28.5,28.5h142.99c15.715,0,28.5-12.784,28.5-28.5v-142.99 C199.99,233.961,187.205,221.176,171.49,221.176z" fill="#006DF0"/><path d="M393.479,221.176H250.489c-15.715,0-28.5,12.785-28.5,28.5v142.99c0,15.715,12.785,28.5,28.5,28.5h34.028 c13.726,0,14.418-9.831,14.418-11.803c0-4.549-2.438-8.974-5.521-14.575c-4.199-7.627-9.428-17.118-9.428-27.804 c0-20.575,17.045-37.312,37.996-37.312c20.952,0,37.998,16.737,37.998,37.312c0,10.685-5.229,20.176-9.429,27.803 c-3.088,5.604-5.522,10.026-5.522,14.576c0,1.971,0.694,11.802,14.42,11.802h34.028c15.716,0,28.5-12.784,28.5-28.5V249.676 C421.979,233.961,409.193,221.176,393.479,221.176z" fill="#006DF0"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <div class="row">
                <a href="{{ content.category }}">Categorias</a>
            </div>
            </div>
        </li>
        <li class="columns" style="text-align:center">
            <div class="menuboard-box">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 394.107 394.107" style="enable-background:new 0 0 394.107 394.107;" xml:space="preserve"><g><g><g><path d="M279.049,66.181c0-23.71-19.29-43-43-43s-43,19.29-43,43c0,20.219,14.03,37.212,32.863,41.782 c-1.869,61.195-22.756,80.213-44.813,100.292c-22.146,20.158-45.006,40.973-44.826,100.151 c-18.804,4.591-32.806,21.571-32.806,41.771c0,23.71,19.29,43,43,43s43-19.29,43-43c0-20.337-14.195-37.409-33.195-41.859 c-0.176-50.248,17.726-66.553,38.291-85.272c23.151-21.075,49.261-44.857,51.348-115.019 C264.882,103.556,279.049,86.497,279.049,66.181z" fill="#006DF0"/><path d="M309.605,274.179c-23.71,0-43,19.29-43,43s19.29,43,43,43c23.711,0,43-19.29,43-43S333.317,274.179,309.605,274.179z M309.605,340.179c-12.682,0-23-10.318-23-23c0-12.683,10.318-23,23-23c12.684,0,23,10.317,23,23 C332.605,329.86,322.289,340.179,309.605,340.179z" fill="#006DF0"/><path d="M156.467,139.364c0-23.71-19.29-43-43-43s-43,19.29-43,43s19.29,43,43,43S156.467,163.074,156.467,139.364z M90.467,139.364c0-12.682,10.317-23,23-23c12.682,0,23,10.318,23,23s-10.318,23-23,23 C100.785,162.364,90.467,152.046,90.467,139.364z" fill="#006DF0"/><path d="M17.072,71.292l15.18-15.179l15.179,15.179c1.953,1.953,4.512,2.929,7.071,2.929s5.118-0.976,7.07-2.929 c3.905-3.905,3.905-10.237,0-14.143L46.394,41.97l15.179-15.179c3.905-3.905,3.905-10.237,0-14.143 c-3.905-3.905-10.236-3.905-14.143,0l-15.178,15.18l-15.18-15.179c-3.905-3.905-10.236-3.905-14.143,0 c-3.905,3.905-3.905,10.237,0,14.143l15.179,15.179L2.929,57.15c-3.905,3.905-3.905,10.237,0,14.143 c1.953,1.953,4.512,2.929,7.07,2.929C12.561,74.222,15.12,73.244,17.072,71.292z" fill="#006DF0"/><path d="M375.999,33.181l15.179-15.179c3.905-3.905,3.905-10.237,0-14.143c-3.904-3.905-10.236-3.905-14.143,0l-15.181,15.179 L346.676,3.859c-3.905-3.905-10.236-3.905-14.144,0c-3.904,3.905-3.904,10.237,0,14.143l15.18,15.179l-15.18,15.179 c-3.904,3.905-3.904,10.237,0,14.143c1.953,1.953,4.513,2.929,7.07,2.929c2.561,0,5.119-0.976,7.071-2.929l15.179-15.179 l15.18,15.179c1.953,1.953,4.513,2.929,7.07,2.929c2.561,0,5.119-0.976,7.071-2.929c3.905-3.905,3.905-10.237,0-14.143 L375.999,33.181z" fill="#006DF0"/><path d="M371.178,161.45c-3.904-3.905-10.236-3.905-14.143,0l-15.181,15.179l-15.179-15.179c-3.905-3.905-10.236-3.905-14.144,0 c-3.904,3.905-3.904,10.237,0,14.143l15.18,15.179l-15.18,15.179c-3.904,3.905-3.904,10.237,0,14.145 c1.953,1.953,4.513,2.929,7.07,2.929c2.561,0,5.119-0.976,7.071-2.929l15.179-15.18l15.18,15.18 c1.953,1.953,4.513,2.929,7.07,2.929c2.561,0,5.119-0.976,7.071-2.929c3.905-3.905,3.905-10.237,0-14.145l-15.179-15.179 l15.179-15.179C375.083,171.687,375.083,165.355,371.178,161.45z" fill="#006DF0"/><path d="M66.239,233.45c-3.905-3.903-10.236-3.903-14.143,0l-15.18,15.181L21.737,233.45c-3.905-3.903-10.236-3.903-14.143,0 c-3.905,3.905-3.905,10.237,0,14.145l15.179,15.179L7.594,277.952c-3.905,3.905-3.905,10.237,0,14.145 c1.953,1.953,4.512,2.929,7.07,2.929c2.56,0,5.119-0.976,7.071-2.929l15.179-15.18l15.18,15.18 c1.953,1.953,4.512,2.929,7.07,2.929c2.56,0,5.119-0.976,7.071-2.929c3.905-3.905,3.905-10.237,0-14.145l-15.179-15.179 l15.179-15.179C70.145,243.688,70.145,237.355,66.239,233.45z" fill="#006DF0"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <div>
                <a href="{{ content.segments }}">Subcategorias</a>
            </div>
            </div>
        </li>
        <li class="columns" style="text-align:center">
            <div class="menuboard-box">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve" width="96px" height="96px"><g><path d="M358.902,450.252c2.988-2.729,4.8-6.29,4.8-10.192c0-8.605-8.784-15.58-19.62-15.58c-10.836,0-19.62,6.976-19.62,15.58 c0,3.894,1.806,7.448,4.783,10.175c-4.194,3.096-6.815,7.487-6.815,12.36c0,9.377,9.694,16.978,21.652,16.978 c11.958,0,21.652-7.601,21.652-16.978C365.734,457.722,363.1,453.344,358.902,450.252z M344.082,433.278 c4.479,0,8.111,2.965,8.111,6.623c0,3.658-3.631,6.623-8.111,6.623c-4.479,0-8.111-2.965-8.111-6.623 C335.972,436.244,339.603,433.278,344.082,433.278z M344.082,469.55c-4.898,0-8.869-3.114-8.869-6.955 c0-3.841,3.971-6.955,8.869-6.955s8.869,3.114,8.869,6.955C352.951,466.436,348.98,469.55,344.082,469.55z" fill="#006DF0"/><path d="M44.816,425.856h22.949v53.11H55.597v-43.003H44.816V425.856z" fill="#006DF0"/><path d="M116.007,425.856v10.26H93.629v8.887c1.675-0.456,3.598-0.784,5.754-0.685c16.982,0.779,20.218,11.896,20.027,17.135 c-0.544,14.984-15.238,18.121-21.244,18.121c-7.674,0-14.081-2.657-19.211-7.977l6.643-8.66c6.226,5.451,10.73,5.923,12.894,5.923 c2.165,0,8.025-0.863,8.268-7.215c0.091-2.378-1.807-7.403-9.729-7.445c-2.862-0.015-6.191,0.962-9.973,2.887l-5.264-5.319v-25.911 H116.007z" fill="#006DF0"/><path d="M262.636,425.856v10.26h-22.378v8.887c1.675-0.456,3.598-0.784,5.754-0.685c16.982,0.779,20.218,11.896,20.027,17.135 c-0.544,14.984-15.238,18.121-21.244,18.121c-7.674,0-14.081-2.657-19.211-7.977l6.643-8.66c6.226,5.451,10.73,5.923,12.894,5.923 c2.165,0,8.025-0.863,8.268-7.215c0.091-2.378-1.807-7.403-9.729-7.445c-2.862-0.015-6.191,0.962-9.973,2.887l-5.264-5.319v-25.911 H262.636z" fill="#006DF0"/><path d="M149.003,456.019v-9.269h12.169v9.269h6.398v10.259h-6.398v12.688h-12.169v-12.688h-22.779v-9.043l20.184-31.379h13.785 l-19.212,30.163H149.003z" fill="#006DF0"/><path d="M199.597,434.809c-9.642,0.203-11.202,8.56-11.622,12.363c3.505-2.146,7.229-3.245,11.174-3.245 c7.411,0,18.649,4.594,18.649,17.733c0,5.392-3.649,17.908-20.019,17.908c-10.512,0-15.679-5.548-17.315-8.126 c-3.263-4.998-4.916-11.271-4.951-18.82c-0.023-4.86,0.59-27.887,23.064-27.991c9.211-0.043,15.884,4.992,17.461,6.152l-5.96,8.384 C209.752,438.865,204.705,434.701,199.597,434.809z M198.024,453.963c-6.926,0-8.858,5.335-8.848,7.562 c0.01,2.231,1.637,8.09,8.557,8.09c6.486,0,8.487-5.421,8.477-7.675C206.2,459.688,204.503,453.963,198.024,453.963z" fill="#006DF0"/><path d="M399.106,434.809c-9.642,0.203-11.202,8.56-11.622,12.363c3.505-2.146,7.229-3.245,11.174-3.245 c7.411,0,18.649,4.594,18.649,17.733c0,5.392-3.649,17.908-20.019,17.908c-10.512,0-15.679-5.548-17.315-8.126 c-3.263-4.998-4.916-11.271-4.951-18.82c-0.023-4.86,0.59-27.887,23.064-27.991c9.211-0.043,15.884,4.992,17.461,6.152l-5.96,8.384 C409.26,438.865,404.213,434.701,399.106,434.809z M397.533,453.963c-6.926,0-8.858,5.335-8.848,7.562 c0.01,2.231,1.637,8.09,8.557,8.09c6.486,0,8.487-5.421,8.477-7.675C405.709,459.688,404.012,453.963,397.533,453.963z" fill="#006DF0"/><path d="M296.078,456.019v-9.269h12.169v9.269h6.399v10.259h-6.399v12.688h-12.169v-12.688h-22.779v-9.043l20.184-31.379h13.785 l-19.212,30.163H296.078z" fill="#006DF0"/><path d="M423.704,425.856h22.95v53.11h-12.169v-43.003h-10.781V425.856z" fill="#006DF0"/><rect y="10.426" width="20.851" height="469.149" fill="#006DF0"/><rect x="78.191" y="10.426" width="20.851" height="386.105" fill="#006DF0"/><rect x="156.383" y="10.426" width="20.851" height="386.105" fill="#006DF0"/><rect x="234.574" y="10.426" width="20.851" height="386.105" fill="#006DF0"/><rect x="312.766" y="10.426" width="20.851" height="386.105" fill="#006DF0"/><rect x="390.957" y="10.426" width="20.851" height="386.105" fill="#006DF0"/><rect x="469.149" y="10.426" width="20.851" height="469.149" fill="#006DF0"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <div class="row">
                <a href="{{ content.product }}">Produtos</a>
            </div>
            </div>
        </li>
        <li class="columns" style="text-align:center">
            <div class="menuboard-box">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="96px" height="96px" viewBox="0 0 414.594 414.594" style="enable-background:new 0 0 414.594 414.594;" xml:space="preserve"><g><g><g><path d="M357.594,298.009l-84.891-33.848l-19.881-16.748c-5.25-4.438-13.004-4.11-17.873,0.73l-27.64,27.481l-27.717-27.492 c-4.874-4.832-12.618-5.146-17.864-0.722l-19.879,16.748l-84.895,33.854C29.622,308.9,29.644,405.708,27.297,414.594h360 C384.955,405.73,384.941,308.885,357.594,298.009z" fill="#006DF0"/><path d="M314.002,87.668C308.106,38.434,262.505,0,207.297,0s-100.81,38.434-106.705,87.668 c-4.898,3.137-8.153,8.613-8.153,14.859v39.996c0,9.743,7.899,17.646,17.646,17.646l15.942-0.04 c9.848,51.453,44.795,80.728,81.27,80.728c36.475,0,57.666-17.339,71.719-49.293c-10.729,8.416-26.324,16.114-48.134,17.704 c-2.004,2.985-5.411,4.951-9.276,4.951h-10.189c-6.167,0-11.167-4.999-11.167-11.167s5-11.167,11.167-11.167h10.189 c3.611,0,6.813,1.723,8.854,4.383c35.067-2.815,51.558-24.083,58.134-36.091l15.916-0.006c9.746,0,17.646-7.903,17.646-17.646 v-39.996C322.154,96.281,318.899,90.805,314.002,87.668z M287.961,89.47c-10.407-32.854-40.473-52.385-80.664-52.385 c-40.192,0-70.276,19.519-80.694,52.357c-1.612-1.456-3.49-2.616-5.559-3.401C127.705,48.656,163.845,20,207.297,20 s79.591,28.656,86.253,66.041C291.468,86.832,289.58,88,287.961,89.47z" fill="#006DF0"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            <div class="row">
                <a href="{{ content.contact }}">Contato</a>
            </div>
            </div>
        </li>
    </ul>
{% endblock %}
