{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Segment</th>
                <th>Name</th>
                <th>Description</th>
                <th>Detail</th>
                <th>Link</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.segment }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.detail }}</td>
                <td>{{ product.link }}</td>
                <td>{{ product.label }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_product_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
