{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slider edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_slider_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="image-preview">
        <img src="{{ asset('galp/images/slider/' ~ slider.source) }}">
    </div>
{% endblock %}
