{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slider list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Description</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slider in sliders %}
            <tr>
                <td><a href="{{ path('admin_slider_show', { 'id': slider.id }) }}">{{ slider.id }}</a></td>
                <td>{{ slider.source }}</td>
                <td>{{ slider.description }}</td>
                <td>{{ slider.link }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_slider_show', { 'id': slider.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_slider_edit', { 'id': slider.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_slider_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
