{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slider</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slider.id }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ slider.source }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ slider.description }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ slider.link }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_slider_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_slider_edit', { 'id': slider.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="image-preview">
        <img src="{{ asset('galp/images/slider/' ~ slider.source) }}">
    </div>
{% endblock %}
