{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menu edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Salvar"  class="button success clear-margin-li"/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_menu_index') }}" class="button secondary clear-margin-li">Voltar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Deletar" class="button alert clear-margin-li">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
