{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de menus</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Link</th>
                <th>Title</th>
                <th>Alt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td><a href="{{ path('admin_menu_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.link }}</td>
                <td>{{ menu.title }}</td>
                <td>{{ menu.alt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_menu_show', { 'id': menu.id }) }}" class="show">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_menu_edit', { 'id': menu.id }) }}" class="edit">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_menu_new') }}">
                <button type="button" class="button right">Criar novo link</button>
            </a>
        </li>
    </ul>
{% endblock %}
