{% extends 'base.html.twig' %}

{% block body %}
    <h1>Criação de menu</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Criar" class="button" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_menu_index') }}" class="button secondary clear-margin-li">Voltar</a>
        </li>
    </ul>
{% endblock %}
