{% extends 'base.html.twig' %}

{% block body %}
    <h1>Menu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ menu.link }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ menu.title }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ menu.alt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_menu_index') }}" class="button secondary clear-margin-li">Voltar</a>
        </li>
        <li>
            <a href="{{ path('admin_menu_edit', { 'id': menu.id }) }}" class="button success clear-margin-li">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Deletar" class="button alert clear-margin-li">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
